<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <li class="list-group-item">
      <div class="lead"><a href="/{{this.id}}">{{pet.name}}</a></div>
      <p>{{pet.owner}}</p>
      <div class="text-right"><strong>Status: </strong>{{pet.status}}</div>
    </li>
  </div>
</div>
